<table class="table">
  <thead>
    <tr>
      <th>Hipsters</th>
      <th><a href="/hipster/new"><button>New</button></a></th>
    </tr>
  </thead>

  <tbody>
  <% @hipster.each do |hipster| %>
    <tr>
      <td><%=link_to hipster.name, hipster_path(hipster)%></td>
      <td><%=link_to "Edit", edit_hipster_path(hipster)%></td>
      <td><%=link_to "Delete", hipster_path(hipster), method: "delete", data: { confirm: "are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

