<div class="container">
<table border="1">
  <th>Hipsters</th>
  <% @hipster.each do |hipster| %>
  <tr>
    <td><%= link_to hipster.name, hipster_path(hipster) %></td>
    <td><%= button_to "Create", new_hipster_path %></td>
    <td><%= button_to "Edit", edit_hipster_path(hipster)%></td>
    <td><%=%></td>
  </tr>
  <% end %>
</table>
</div>