<table>
  <th>Hipsters</th>
  <% @hipster.each do |hipster| %>
  <tr>
    <td><%= link_to hipster.name, hipster_path(hipster) %></td>
    <td><%= button_to "Edit", edit_hipster_path(hipster), method: "get "%></td>
    <td><%=%></td>
  </tr>
  <% end %>
</table>