  <table class="table">
    <th>Hipsters</th>
    <th><a href="/hipsters/new"><button>New</button></a></th>
    <% @hipster.each do |hipster| %>
      <tr>
        <td><%= link_to hipster.name, hipster_path(hipster) %></td>
        <% if user_signed_in? %>
          <td><%= link_to "Edit", edit_hipster_path(hipster)%></td>
          <td><%= link_to "Delete", hipster_path(hipster), method: "delete", data: { confirm: "are you sure?"} %></td>
        </tr>
        <% end %>
    <% end %>
  </table>