<div class="jumbotron">
<h1><%=@hipster.name%></h1>
<h3>My favourite beer is <%= @hipster.beer%></h3>
<h3>I really preffer coffee with "<%=@hipster.coffee%> notes, you know?"</h3>
<p>"<%=@hipster.quote%>" - Thats how I live my life</p>
<a class="btn btn-primary" href="/hipsters">Back</a>
</div>